@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes flag-fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.tile-flagged-fade {
    animation: flag-fade 0.5s ease-in-out;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

#tablero{
    border: 10px solid midnightblue;
    background-color: lightgray;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#tablero div {
    border: 1px solid whitesmoke;

    /* text */
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-clicked {
    background-color: darkgrey;
}

.x1 {
    color: blue;
}

.x2 {
    color: green;
}

.x3 {
    color: red;
}

.x4 {
    color: navy;
}

.x5 {
    color: brown;
}

.x6 {
    color: teal;
}

.x7 {
    color: black;
}

.x8 {
    color: grey;
}